<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="players content">
            <form action="/players" method="POST">
                <b>Players: </b></br> 
            <% if (thePlayers.length > 0) { %>
                <% thePlayers.forEach(player => { %>
                    <b><%= player.first_name %> <%= player.last_name %></b>
                    <a href="/players/<%=player._id%>/edit?firstName=<%=player.first_name%>&lastName=<%=player.last_name%>&teamName=<%=player.team_name%>">Edit</a>
                    <a href="/players/<%=player._id%>/delete?firstName=<%=player.first_name%>&lastName=<%=player.last_name%>&teamName=<%=player.team_name%>">Delete</a>
                    <a href="/players/<%=player._id%>/replace?firstName=<%=player.first_name%>&lastName=<%=player.last_name%>&teamName=<%=player.team_name%>">Replace</a></br> 
                    <% }) %>
            <% } %>
            </br><label>Add Player:</label></br>
            <label>First Name:
                <input type="text" id="firstName" name="firstName" value="<%= locals.firstName %>" required>
            </label>
            <label>Last Name:
                <input type="text" id="lastName" name="lastName" value="<%= locals.lastName %>" required>
            </label>
            <label>Team Name:
                <input type="text" id="teamName" name="teamName" value="<%= locals.teamName %>" required>
            </label>
            </br>
            <button>POST</button>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>